main {
    width: 50%;
    height: 100vh;
    justify-self: center;
    align-content: center;
}

form {
    background-color: #8B8DFF;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.action-container {
    display: flex;
    justify-content: space-between;
}

li {
    border-bottom: 1px solid;
}

#todo-list {
    height: 200px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #2E3A59;
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    color: #DCDCDC;
}

html {
    background-color: 	#0E1323;
}

div {
    box-sizing: border-box;
    border-radius: 2px;
}
